<div>
  <h2 id="page-heading" data-cy="PhanTichSanPhamHeading">
    <span>Phan Tich San Phams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-phan-tich-san-pham"
        [routerLink]="['/phan-tich-san-pham/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Phan Tich San Pham </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="phanTichSanPhams?.length === 0">
    <span>No phanTichSanPhams found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="phanTichSanPhams && phanTichSanPhams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Ten Nhan Vien Phan Tich</span></th>
          <th scope="col"><span>The Loai Phan Tich</span></th>
          <th scope="col"><span>Lot Number</span></th>
          <th scope="col"><span>Detail</span></th>
          <th scope="col"><span>So Luong</span></th>
          <th scope="col"><span>Ngay Kiem Tra</span></th>
          <th scope="col"><span>Username</span></th>
          <th scope="col"><span>Nam San Xuat</span></th>
          <th scope="col"><span>Trang Thai</span></th>
          <th scope="col"><span>Chi Tiet San Pham Tiep Nhan</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phanTichSanPham of phanTichSanPhams; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/phan-tich-san-pham', phanTichSanPham.id, 'view']">{{ phanTichSanPham.id }}</a>
          </td>
          <td>{{ phanTichSanPham.tenNhanVienPhanTich }}</td>
          <td>{{ phanTichSanPham.theLoaiPhanTich }}</td>
          <td>{{ phanTichSanPham.lotNumber }}</td>
          <td>{{ phanTichSanPham.detail }}</td>
          <td>{{ phanTichSanPham.soLuong }}</td>
          <td>{{ phanTichSanPham.ngayKiemTra | formatMediumDatetime }}</td>
          <td>{{ phanTichSanPham.username }}</td>
          <td>{{ phanTichSanPham.namSanXuat }}</td>
          <td>{{ phanTichSanPham.trangThai }}</td>
          <td>
            <div *ngIf="phanTichSanPham.chiTietSanPhamTiepNhan">
              <a [routerLink]="['/chi-tiet-san-pham-tiep-nhan', phanTichSanPham.chiTietSanPhamTiepNhan?.id, 'view']">{{
                phanTichSanPham.chiTietSanPhamTiepNhan?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/phan-tich-san-pham', phanTichSanPham.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/phan-tich-san-pham', phanTichSanPham.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(phanTichSanPham)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
