<div>
  <h2 id="page-heading" data-cy="NhomKhachHangHeading">
    <span>Nhom Khach Hangs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nhom-khach-hang"
        [routerLink]="['/nhom-khach-hang/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Nhom Khach Hang </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nhomKhachHangs?.length === 0">
    <span>No nhomKhachHangs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="nhomKhachHangs && nhomKhachHangs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Ten Nhom Khach Hang</span></th>
          <th scope="col"><span>Ngay Tao</span></th>
          <th scope="col"><span>Ngay Cap Nhat</span></th>
          <th scope="col"><span>Username</span></th>
          <th scope="col"><span>Trang Thai</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nhomKhachHang of nhomKhachHangs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nhom-khach-hang', nhomKhachHang.id, 'view']">{{ nhomKhachHang.id }}</a>
          </td>
          <td>{{ nhomKhachHang.tenNhomKhachHang }}</td>
          <td>{{ nhomKhachHang.ngayTao | formatMediumDatetime }}</td>
          <td>{{ nhomKhachHang.ngayCapNhat | formatMediumDatetime }}</td>
          <td>{{ nhomKhachHang.username }}</td>
          <td>{{ nhomKhachHang.trangThai }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/nhom-khach-hang', nhomKhachHang.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/nhom-khach-hang', nhomKhachHang.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(nhomKhachHang)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
