<div>
  <h2 id="page-heading" data-cy="PhanLoaiChiTietTiepNhanHeading">
    <span>Phan Loai Chi Tiet Tiep Nhans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-phan-loai-chi-tiet-tiep-nhan"
        [routerLink]="['/phan-loai-chi-tiet-tiep-nhan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Phan Loai Chi Tiet Tiep Nhan </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="phanLoaiChiTietTiepNhans?.length === 0">
    <span>No phanLoaiChiTietTiepNhans found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="phanLoaiChiTietTiepNhans && phanLoaiChiTietTiepNhans.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>So Luong</span></th>
          <th scope="col"><span>Danh Sach Tinh Trang</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phanLoaiChiTietTiepNhan of phanLoaiChiTietTiepNhans; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/phan-loai-chi-tiet-tiep-nhan', phanLoaiChiTietTiepNhan.id, 'view']">{{ phanLoaiChiTietTiepNhan.id }}</a>
          </td>
          <td>{{ phanLoaiChiTietTiepNhan.soLuong }}</td>
          <td>
            <div *ngIf="phanLoaiChiTietTiepNhan.danhSachTinhTrang">
              <a [routerLink]="['/danh-sach-tinh-trang', phanLoaiChiTietTiepNhan.danhSachTinhTrang?.id, 'view']">{{
                phanLoaiChiTietTiepNhan.danhSachTinhTrang?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/phan-loai-chi-tiet-tiep-nhan', phanLoaiChiTietTiepNhan.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/phan-loai-chi-tiet-tiep-nhan', phanLoaiChiTietTiepNhan.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(phanLoaiChiTietTiepNhan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
