<div>
  <h2 id="page-heading" data-cy="SanPhamHeading">
    <span>San Phams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-san-pham"
        [routerLink]="['/san-pham/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new San Pham </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sanPhams?.length === 0">
    <span>No sanPhams found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sanPhams && sanPhams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Sap Code</span></th>
          <th scope="col"><span>Rd Code</span></th>
          <th scope="col"><span>Don Vi</span></th>
          <th scope="col"><span>To San Xuat</span></th>
          <th scope="col"><span>Phan Loai</span></th>
          <th scope="col"><span>Nhom San Pham</span></th>
          <th scope="col"><span>Kho</span></th>
          <th scope="col"><span>Nganh</span></th>
          <th scope="col"><span>Chung Loai</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sanPham of sanPhams; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/san-pham', sanPham.id, 'view']">{{ sanPham.id }}</a>
          </td>
          <td>{{ sanPham.name }}</td>
          <td>{{ sanPham.sapCode }}</td>
          <td>{{ sanPham.rdCode }}</td>
          <td>{{ sanPham.donVi }}</td>
          <td>{{ sanPham.toSanXuat }}</td>
          <td>{{ sanPham.phanLoai }}</td>
          <td>
            <div *ngIf="sanPham.nhomSanPham">
              <a [routerLink]="['/nhom-san-pham', sanPham.nhomSanPham?.id, 'view']">{{ sanPham.nhomSanPham?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sanPham.kho">
              <a [routerLink]="['/kho', sanPham.kho?.id, 'view']">{{ sanPham.kho?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sanPham.nganh">
              <a [routerLink]="['/nganh', sanPham.nganh?.id, 'view']">{{ sanPham.nganh?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sanPham.chungLoai">
              <a [routerLink]="['/chung-loai', sanPham.chungLoai?.id, 'view']">{{ sanPham.chungLoai?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/san-pham', sanPham.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/san-pham', sanPham.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(sanPham)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
